/**********************SELECTOR STYLE**********************/

body {
  text-align: center;
  font-family: 'Merriweather', serif;
}

div {

}

h1 {
  color: #1b262c;
  font-size: 50px;
margin-top: 0;
font-family: 'Pacifico', cursive;
}

h2 {
  color: #0f4c75;
  font-size: 2.5rem;
  margin-top: 0;
}

h3 {
  color: #0f4c75;
}

body {
margin: 0;
}

hr {
  width: 50%;
  border-style: none;
  border-top: 5px dashed;
  border-color: #0f4c75;
}

a {
  text-decoration: none;
}

/**********************CLASS STYLE**********************/

.top-container {
  background-color: #cde8f6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.middle-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-container {
  background-color: #cde8f6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile {
  display: block;
  margin: 30px auto 30px auto;
  width: 50%;
  text-align: justify;
  line-height: 2;
}

.footer-text {
  display: block;
  margin: 30px auto 30px auto;
  width: 50%;
  text-align: justify;
}

.skill-row {
  display: block;
  margin: 30px auto 30px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.floating-img {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.html-image {
  width: 20%;
  margin-right: 30px;
  float: left;
}

.responsive-image {
  width: 20%;
  margin-left: 30px;
  float: right;
}

.ra-brussel{
  width: 10%;
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.socialmedia-button
{
  width: 3%;
  height: 3%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
